:root {
  --main-color: #ffb400;
  --main-color-095: rgba(255, 180, 0, 0.95);
  --black-color: #2b2b2b;
  --dark-background-color: #18191a;
  --dark-viev1-color: #242526;
  --dark-view2-color: #3a3b3c;
  --paragraph-font-color: #767676;
  --background-color: #f0f0f6;
  --second-background-color: #e4e6eb;
  --white-color: #ffffff;
}
